* {
    font-family: Arial, sans-serif;
}

.add-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.add-product-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.add-product-container .form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.add-product-container .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-right: 10px;
}

.add-product-container .form-group:last-child {
    margin-right: 0;
}

.add-product-container label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.add-product-container input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-product-container #uploader {
    display: none;
}


.add-product-container #uploadButton {
    cursor: pointer;
    background-color: indianred;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px;
}

.add-product-container #uploadButton:hover {
    background-color: rgb(163, 73, 73);
}

.add-product-container button.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-product-container button.submit-btn:hover {
    background-color: #218838;
}
