*{
    margin: 0;
    padding: 0;
}

.home-page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: #f0f2f5;
    box-sizing: border-box;
}

.home-page-wrapper .content{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    width: 100%;
    height: 100%;
}