.home-page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f0f2f5;
}

.home-page-wrapper .app-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 8vh;
    background-color: burlywood;
    width: 100%;
    color: white;
    box-sizing: border-box;
    z-index: 1000;
}

.home-page-wrapper .app-bar .home-link{
    cursor: pointer;
    font-size: 25px;
    margin-left: 20px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.home-page-wrapper .app-bar .search-box{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
}

.home-page-wrapper .app-bar .search-box input{
    background-color: transparent;
    width: 95%;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.home-page-wrapper .app-bar .search-box .search-icon{
    cursor: pointer;
}

.home-page-wrapper .app-bar .search-box input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.home-page-wrapper .app-bar .before-login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.home-page-wrapper .app-bar .before-login-buttons .before-login-button {
    cursor: pointer;
    width: 80px;
    height: 35px;
    border:none;
    color: white;
    border-radius: 6px;
    transition-duration: 0.2s;
}

.home-page-wrapper .app-bar .before-login-buttons #login-button {
    background-color: #964141;
}

.home-page-wrapper .app-bar .before-login-buttons #login-button:hover {
    background-color: #b95050;
    transform: scale(1.1);
}

.home-page-wrapper .app-bar .before-login-buttons #sign-up-button {
    background-color: #d14545;
}

.home-page-wrapper .app-bar .before-login-buttons #sign-up-button:hover {
    background-color: #f6141496;
    transform: scale(1.1);
}

.home-page-wrapper .app-bar .after-login-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.home-page-wrapper .app-bar .after-login-buttons .circle-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
}

.home-page-wrapper .content{
    margin: 100px;
    padding: 20px;
}