.profile-page-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-self: center;
    max-width: 500px;
    background-color: aquamarine;
    padding: 40px;
    border-radius: 20px;
    color: rgb(100, 100, 100);
    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);
    margin-top: 30px;
}

.profile-page-wrapper p {
    margin-top: 30px;
}